extends layout

block content
  h1= title
  br
  form#inputNumbers(name="addnumber",method="post",action="/")
        input#numberToAdd(type="text", placeholder="number", name="number")
        button#btnSubmit(type="submit") submit
  p Number you submitted: #{sentValue}
  p Number C++ returned (2*number): #{cppOutput}
  p C++ thread test (should return "aello"): #{threadTest}
